<div class="main-container">
    <div class="container-note">
        <div class="note-title">
            <p>Title:</p>
            <input type="text"[(ngModel)]="toBeUpdatedNote.title">
        </div>

        <div class="note">
            <h1>Edit Note:</h1>
            <textarea name="note" id="note" [(ngModel)]="toBeUpdatedNote.note"></textarea>
        </div>

        <div class="btn">
            <div>

    <input type="checkbox"  [(ngModel)]="toBeUpdatedNote.favorite"> <label for="favorite">Save as favorite</label>
        </div>
            <button type="submit" (click)="updateNote()">Save</button>
        </div>

    </div>
</div>
